<div id="<%= dom_id message %>" class="scaffold_record">


  <p>
    <strong>Body:</strong>
    <%= message.body %>
 
    <%# <%= link_to "Show this message", message %> 
    <%= button_to "Edit", edit_message_path(message), method: :post,class:"btn btn-outline-info" %>
    <%= button_to "Delete", message_path(message), method: :delete, class:"btn btn-outline-danger" %>
  
  </p>
    <hr>
</div>
