<div id="<%= dom_id post %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
  </p>

  <p>
    <%= link_to "Show this post", post %>
  </p>
</div>
