<!DOCTYPE html>
<html>
  <head>
    <title>Turboapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <%# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #dadde3">
    <%= render "shared/navbar" %>
      <button id="bt">Toggle</button> 
    <%# <%= Time.zone.now %> 
    <%= yield %>
    <%= render "shared/footer"%>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
      $("button#bt").click(function() {
        $("#panel").toggle(2000);
    });

    $("p").click(function(){
      $(this).fadeToggle(2000);
    });

    $("#flip").click(function(){
      $("#panel").slideToggle(2000, function(){
        console.log("slide sucessful")
        // alert("Slide is Done")
      });
    });
    $("#stop").click(function(){
      $("#panel").stop();
    });
      $("button").click(function(){
    $(".p1").css("color", "blue").slideUp(1000).slideDown(2000);
  });
  var display = $('#display');
    display.on('keydown', function(event){
      if(event.key === 'Enter'){
        try {
            display.val(eval(display.val()));
        } catch (error) {
            display.val('Error');
        }
      }
    });

    $("#div1").on({
      "click" : function(){
        $("#div1").css("background","blue");
      },
      "mouseout" : function(){
        $("#div1").css("color","red");
      },
      "mouseover": function(){
        $("#div1").css("background","green")
      }
    });

    $("#perpend").click(function(){
      $("#div1").prepend("<h1>this is heading</h1>")
    });
    $("#append").click(function(){
      $("#div1").append("<h3>this is append<h3>")
    });
  });
  </script>
</html>
